// Colors
$primary : #00dfc4;
$secondary : #00dfc422;
$tertiary : #00dfc538;
$fourth : #555555;
// color: #071A33;

// Background
// $background : #2b2d3d;
$background : #2d3246;

// Fonts
$RobotoFontStyles : ( "bold", "bolditalic", "italic", "light", "lightitalic", "regular" );


