.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.6s;
    padding: 30px 0;

    &__text {
        @include robotoTypo('bolditalic');
        font-size: max(2vw, 24px);
        color: $primary;
        padding-left: 40px;
        text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555, 7px 7px #555555, 8px 8px #555555;
        transform: translateX(-8px) translateY(-8px);
        transition: 0.6s;
    }
}


@media screen and (min-width: 930px) {
    .header.sticky {
        background-color: $background;
        padding: 15px 0;
    }

}

@media screen and (max-width: 930px) {
    .header {
        background-color: $background;
        padding: 10px 0;
    }
}
