.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation-delay: 4s;
    
    &__content {
        display: flex;
        flex-direction: column;
    }

    &__text {
        margin: 0;
        font-size: max(5vw,28px);
        @include robotoTypo("bold");

        &--underline {
            text-decoration: underline $primary;
        }
    }
}

// Media Queries

@media screen and (max-width: 768px) {
    .intro {
        flex-direction: column-reverse;
        row-gap: 30px;

        &__content {
            align-items: center;
        }
    }

}