.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    column-gap: 20px;
    align-items: center;
    margin-right: 40px;
    
    &__link {
        @include robotoTypo('regular');
        font-size: max(1vw, 24px);
        text-decoration: none;
        cursor: pointer;
        transition: 0.6s;
        color: white;

        &__border {
            @include robotoTypo('bold');
            padding: 5px;
        }
    }
}


.hamburger-react {
    display: none;
}

@media screen and (max-width:930px) {

    .nav-block {
        background-color: $primary;
        height: 0;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-block.active {
        height: 195px;
    }

    .navbar {
        display: block;
        width: -moz-fit-content;
        width: fit-content;
        margin: 10px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar li {
        margin-bottom: 12px;
    }

    .nav-block.active ul{
        opacity: 1;
    }
    

    .hamburger-react {
        display: block;
        margin-right: 40px;
    }
}

@media screen and (min-width:930px) {
    .navbar__link:hover, .navbar__link--active {
        color: $primary;
        @include robotoTypo('bold');
        animation: text-shadow-pop-br 0.6s both;
    }

    .navbar__link__border {
        color: $primary;
        border: solid 2px $primary;
        border-radius: 5px;

        &:hover {
            background: $primary;
            color: white;
        }
    }
}
