/// Mixin setRobotoFonts : Définit les @font-face "roboto"
@mixin setRobotoFonts {
    @each $style in $RobotoFontStyles {
        @font-face {
            font-family: "robotocondensed-#{$style}";
            src: url("../../../assets/fonts/robotocondensed-#{$style}-webfont.woff2") format('woff2'),
                 url("../../../assets/fonts/robotocondensed-#{$style}-webfont.woff") format('woff');
        }
    }
}

/// Mixin robotoTypo : sert à définir le style désiré de la font roboto
@mixin robotoTypo($style) {
    font-family : 'robotocondensed-#{$style}', Arial, Helvetica, sans-serif;
}

// loader picture line

@mixin setLineSizeY {
    position: absolute;
    width: 100%;
    height: 3px;
}

@mixin setLineSizeX {
    position: absolute;
    width: 3px;
    height: 100%;
}

@mixin textShadowBlank {
    text-shadow: 0 0 $fourth, 0 0 $fourth, 0 0 $fourth, 0 0 $fourth, 0 0 $fourth, 0 0 $fourth, 0 0 $fourth, 0 0 $fourth;
      transform: translateX(0) translateY(0);
}

@mixin textShadow {
    text-shadow: 1px 1px $fourth, 2px 2px $fourth, 3px 3px $fourth, 4px 4px $fourth, 5px 5px $fourth, 6px 6px $fourth, 7px 7px $fourth, 8px 8px $fourth;
    transform: translateX(-8px) translateY(-8px);
}