/* Keyframes du loader */

@keyframes animate {
    0%,20% {
        transform: scaleX(0);
    }
    40% {
        transform: scaleX(1);
        transform-origin: left;
    }
}

@keyframes animateDot {
    0% {
        transform: translateY(-50%) scale(0);
    }
    5% {
        transform: translateY(-50%) scale(1);
    }
    15%,20% {
        transform: translateY(-50%) scale(1);
        box-shadow: 0 0 0 4px $primary,
        0 0 0 10px $secondary,
        0 0 20px $primary,
        0 0 40px 5px $primary,
        0 0 60px 10px $primary ;
    }
    40%,100% {
        transform: translateY(-50%) scale(1) translateX(395px);
    }
}

@keyframes end {
    0%  {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes hide {
    100% {
        z-index: -1;
    }
}