.button {
    margin-top: 5px;
    cursor: pointer;
    @include robotoTypo ('bold');
    font-size: max(14px,1vw);
    
    background-color: transparent;
    border: solid 2px $primary;
    border-radius: 10px;
    padding: 10px;
    transition: 0.6s;

    &--green {
        color: $primary;
        &:hover {
            background-color: $primary;
            color: white;
        }
    }
}