.contact {
    position: relative;
    // min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;

    &__info {
        position: absolute;
        top: 40px;
        max-width: 350px;
        height: calc(100% - 80px);
        background: $primary;
        border-radius: 15px;
        z-index: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 20px 25px rgba(0,0,0,0.15);
    }
    
    &__info h2 {
        @include robotoTypo('bold');
        font-size: max(32px,3vw);
    }

    &__form {
        position: absolute;
        margin-left: 150px;
        width: calc(100% - 150px);
        height: 100%;
        border: solid 3px $primary;
        border-radius: 15px;
        box-shadow: 0 50px 50px rgba(0,0,0,0.15);

        &__block {
            padding: 70px 50px;
            padding-left: 250px;
        }
    }

    &__form h2 {
        color: $primary;
        @include robotoTypo('bold');
        font-size: 24px;

    }
}

.info {
    margin: 40px;

    &__list {
        position: relative;
        margin: 20px 0;
    }

    &__item {
        position: relative;
        display: flex;
        margin: 20px 0;
        column-gap: 10px;
        cursor: pointer;
        align-items: center;
    }

    &__icon {
        width: 30px;
        height: 30px;
    }

    &__text {
        @include robotoTypo('italic');
        font-size: clamp(16px, 1.6vw, 20px);
    }

    &__text a:hover {
        @include robotoTypo('bolditalic')
    }

    &__socials {
        position: relative;
        display: flex;
        margin: 40px;
        justify-content: center;

        &__icon {
            color: white;
            width: max(40px,3vw);
            height: max(40px,3vw);
        }
    }
}

.form {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;

    &__input {
        position: relative;
        margin-bottom: 35px;
    }

    &__input label {
        color: white;
        position: absolute;
        left: 0;
        padding: 5px 0;
        pointer-events: none;
        font-size: 18px;
        transition: 0.3s;
    }

    &__input input, textarea {
        width: 100%;
        resize: none;
        background: transparent;
        padding: 5px 0;
        font-size: 18px;
        color: white;
        border: none;
        outline: none;
        border-bottom: 1px solid $primary;
    }

    &__input input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label {
        transform: translateY(-20px);
        font-size: 12px;
        letter-spacing: 1px;
        color: $primary;
    }

    &__input input[type="submit"] {
        position: relative;
        cursor: pointer;
        background: $primary;
        color:white;
        border: none;
        max-width: 150px;
        padding: 12px;

        &:hover {
            background: lighten($color: $primary, $amount: 10%)
        }
    }
}

.w50 {
    width: 47%;
}

.w100 {
    width: 100%;
}

textarea {
    height: 120px;
}

#c-yup {
    color: red;
    @include robotoTypo('bolditalic')
}


// MEDIA QUERIES

@media screen and (max-width:1150px) {

    .contact__info {
        top: 0;
        height: 100%;
        border: 3px solid $primary;
        border-radius: 15px 0 0 15px;
    }
    .contact__form__block {
        padding-left: 200px;
    }

    .info {
        margin: 40px 20px;
    }
}

@media screen and (max-width: 930px) {

    .contact {
        flex-direction: column-reverse;

        &__info {
            position: relative;
            border-radius: 0 0 15px 15px;
            width: 100%;
            max-width: 850px;
            flex-direction: row;
            align-items: center;
        }

        &__form {
            position: relative;
            margin: 0;
            width: 100%;
            border-radius: 15px 15px 0 0;

            &__block {
                padding: 70px 50px;
            }
        }
    }

    .form {
        flex-direction: column;
    }

    .w50 {
        width: 100%;
    }
}

@media screen and (max-width: 740px) {

    .contact__info {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact__form__block {
        padding: 50px 20px;
    }
    
    .info__socials {
        margin: 10px;
    }
}

@media screen and (max-width: 480px) {

    .contact__info {
        border-radius: 15px;
    }

    .contact__form{
        border: none;

        &__block {
            padding: 0;
        }
    }

    .submit{
        display: flex;
        justify-content: center;
    }
}
