/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "robotocondensed-light", Arial, Helvetica, sans-serif;
  color: white;
  background-image: url(../../../public/endless-constellation.svg);
  /* background by SVGBackgrounds.com */
}

#root {
  width: 100%;
}

.content {
  margin: 0 60px;
}

@media screen and (max-width: 930px) {
  .content {
    margin: 0 40px;
  }
}
@font-face {
  font-family: "robotocondensed-bold";
  src: url("../../../assets/fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-bolditalic";
  src: url("../../../assets/fonts/robotocondensed-bolditalic-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-bolditalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-italic";
  src: url("../../../assets/fonts/robotocondensed-italic-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-italic-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-light";
  src: url("../../../assets/fonts/robotocondensed-light-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-lightitalic";
  src: url("../../../assets/fonts/robotocondensed-lightitalic-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-lightitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-regular";
  src: url("../../../assets/fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-regular-webfont.woff") format("woff");
}
/* Keyframes du loader */
@keyframes animate {
  0%, 20% {
    transform: scaleX(0);
  }
  40% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
@keyframes animateDot {
  0% {
    transform: translateY(-50%) scale(0);
  }
  5% {
    transform: translateY(-50%) scale(1);
  }
  15%, 20% {
    transform: translateY(-50%) scale(1);
    box-shadow: 0 0 0 4px #00dfc4, 0 0 0 10px rgba(0, 223, 196, 0.1333333333), 0 0 20px #00dfc4, 0 0 40px 5px #00dfc4, 0 0 60px 10px #00dfc4;
  }
  40%, 100% {
    transform: translateY(-50%) scale(1) translateX(44.5vw);
  }
}
@keyframes end {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  100% {
    z-index: -1;
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes animate_one {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate_two {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animate_three {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate_four {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555, 7px 7px #555555, 8px 8px #555555;
    transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes portrait_animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__content {
  display: flex;
  flex-direction: column;
  width: 65%;
  transition-delay: 200ms;
}
.about__text {
  font-size: max(18px, 2vw);
}
.about__button {
  display: flex;
  column-gap: 15px;
  margin-top: 10px;
}

@media screen and (max-width: 930px) {
  .about {
    flex-direction: column;
    gap: 10px;
  }
  .about__content {
    width: 100%;
  }
}
.contact {
  position: relative;
  min-height: 550px;
  display: flex;
  z-index: 1000;
}
.contact__info {
  position: absolute;
  top: 40px;
  max-width: 350px;
  height: calc(100% - 80px);
  background: #00dfc4;
  border-radius: 15px;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}
.contact__info h2 {
  font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
  font-size: max(32px, 3vw);
}
.contact__form {
  position: absolute;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  border: solid 3px #00dfc4;
  border-radius: 15px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.15);
}
.contact__form__block {
  padding: 70px 50px;
  padding-left: 250px;
}
.contact__form h2 {
  color: #00dfc4;
  font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.info {
  margin: 40px;
}
.info__list {
  position: relative;
  margin: 20px 0;
}
.info__item {
  position: relative;
  display: flex;
  margin: 20px 0;
  column-gap: 10px;
  cursor: pointer;
  align-items: center;
}
.info__icon {
  width: 30px;
  height: 30px;
}
.info__text {
  font-family: "robotocondensed-italic", Arial, Helvetica, sans-serif;
  font-size: clamp(16px, 1.6vw, 20px);
}
.info__text a:hover {
  font-family: "robotocondensed-bolditalic", Arial, Helvetica, sans-serif;
}
.info__socials {
  position: relative;
  display: flex;
  margin: 40px;
  justify-content: center;
}
.info__socials__icon {
  color: white;
  width: max(40px, 3vw);
  height: max(40px, 3vw);
}

.form {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.form__input {
  position: relative;
  margin-bottom: 35px;
}
.form__input label {
  color: white;
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  transition: 0.3s;
}
.form__input input, .form textarea {
  width: 100%;
  resize: none;
  background: transparent;
  padding: 5px 0;
  font-size: 18px;
  color: white;
  border: none;
  outline: none;
  border-bottom: 1px solid #00dfc4;
}
.form__input input:focus ~ label, .form input:valid ~ label, .form textarea:focus ~ label, .form textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 12px;
  letter-spacing: 1px;
  color: #00dfc4;
}
.form__input input[type=submit] {
  position: relative;
  cursor: pointer;
  background: #00dfc4;
  color: white;
  border: none;
  max-width: 150px;
  padding: 12px;
}
.form__input input[type=submit]:hover {
  background: #13ffe2;
}

.w50 {
  width: 47%;
}

.w100 {
  width: 100%;
}

textarea {
  height: 120px;
}

#c-yup {
  color: red;
  font-family: "robotocondensed-bolditalic", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1150px) {
  .contact__info {
    top: 0;
    height: 100%;
    border: 3px solid #00dfc4;
    border-radius: 15px 0 0 15px;
  }
  .contact__form__block {
    padding-left: 200px;
  }
  .info {
    margin: 40px 20px;
  }
}
@media screen and (max-width: 930px) {
  .contact {
    flex-direction: column-reverse;
  }
  .contact__info {
    position: relative;
    border-radius: 0 0 15px 15px;
    width: 100%;
    max-width: 850px;
    flex-direction: row;
    align-items: center;
  }
  .contact__form {
    position: relative;
    margin: 0;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  .contact__form__block {
    padding: 70px 50px;
  }
  .form {
    flex-direction: column;
  }
  .w50 {
    width: 100%;
  }
}
@media screen and (max-width: 740px) {
  .contact__info {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact__form__block {
    padding: 50px 20px;
  }
  .info__socials {
    margin: 10px;
  }
}
@media screen and (max-width: 480px) {
  .contact__info {
    border-radius: 15px;
  }
  .contact__form {
    border: none;
  }
  .contact__form__block {
    padding: 0;
  }
  .submit {
    display: flex;
    justify-content: center;
  }
}
.box {
  position: relative;
  width: max(250px, 25vw);
  height: max(250px, 25vw);
  background-color: #2d3246;
  border-radius: 50%;
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  inset: -10px 75px;
  background: linear-gradient(315deg, #00dfc4, rgba(0, 223, 196, 0.1333333333));
  transition: 0.5s;
  animation: portrait_animate 4s linear infinite;
}
.box:hover::before {
  inset: -20px 0px;
}
.box::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: center/cover url(../../assets/IMG.jpg);
  border-radius: 50%;
  z-index: 1;
}

.button {
  margin-top: 5px;
  cursor: pointer;
  font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
  font-size: max(14px, 1vw);
  background-color: transparent;
  border: solid 2px #00dfc4;
  border-radius: 10px;
  width: max(120px, 7.5vw);
  height: max(40px, 3vw);
  transition: 0.6s;
}
.button--green {
  color: #00dfc4;
}
.button--green:hover {
  background-color: #00dfc4;
  color: white;
}

.socials {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  left: 5px;
  bottom: 20%;
}
.socials__icon {
  height: max(25px, 1.5vw);
  width: max(25px, 1.5vw);
  color: #00dfc4;
}
.socials__icon:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.socials::after, .socials::before {
  content: "";
  align-self: center;
  width: 2px;
  height: 2rem;
  background-color: #00dfc4;
}

.scrollup {
  position: fixed;
  display: flex;
  align-items: center;
  column-gap: 5px;
  right: -1.3rem;
  bottom: 25%;
  color: #00dfc4;
  transform: rotate(90deg);
}
.scrollup__icon {
  height: max(20px, 1.5vw);
}
.scrollup__button {
  font-size: max(16px, 1vw);
  color: #00dfc4;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill__title {
  font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
  font-size: clamp(24px, 3vw, 42px);
  width: 50%;
}
.skill__logos {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.skill__logo {
  width: max(42px, 8vw);
  height: max(42px, 8vw);
  padding: 40px;
}

.logos__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logos__block span {
  font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 930px) {
  .skill {
    flex-direction: column;
    row-gap: 30px;
  }
  .skill__title, .skill__logos {
    width: 100%;
  }
  .skill__logos {
    grid-template-columns: repeat(3, 1fr);
  }
  .skill__logo {
    padding: 20px;
  }
}
@media screen and (max-width: 428px) {
  .skill__logos {
    grid-template-columns: repeat(2, 1fr);
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  z-index: 3;
  padding: 30px 0;
}
.header__text {
  font-family: "robotocondensed-bolditalic", Arial, Helvetica, sans-serif;
  font-size: max(2vw, 24px);
  color: #00dfc4;
  padding-left: 40px;
  text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555, 7px 7px #555555, 8px 8px #555555;
  transform: translateX(-8px) translateY(-8px);
  transition: 0.6s;
}

@media screen and (min-width: 930px) {
  .header.sticky {
    background-color: #2d3246;
    padding: 15px 0;
  }
}
@media screen and (max-width: 930px) {
  .header {
    background-color: #2d3246;
    padding: 10px 0;
  }
}
.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  column-gap: 20px;
  align-items: center;
  margin-right: 40px;
}
.navbar__link {
  font-family: "robotocondensed-regular", Arial, Helvetica, sans-serif;
  font-size: max(1vw, 24px);
  cursor: pointer;
  transition: 0.6s;
  color: white;
}
.navbar__link__border {
  font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
  padding: 5px;
}

.hamburger-react {
  display: none;
}

@media screen and (max-width: 930px) {
  .nav-block {
    background-color: #00dfc4;
    height: 0;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 100vw;
    transition: 0.2s;
    overflow: hidden;
  }
  .nav-block.active {
    height: 195px;
  }
  .navbar {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .navbar li {
    margin-bottom: 12px;
  }
  .nav-block.active ul {
    opacity: 1;
  }
  .hamburger-react {
    display: block;
    margin-right: 40px;
  }
}
@media screen and (min-width: 930px) {
  .navbar__link:hover, .navbar__link--active {
    color: #00dfc4;
    font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
    animation: text-shadow-pop-br 0.6s both;
  }
  .navbar__link__border {
    color: #00dfc4;
    border: solid 2px #00dfc4;
    border-radius: 5px;
  }
  .navbar__link__border:hover {
    background: #00dfc4;
    color: white;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #2d3246;
  margin-top: 30px;
  width: 100%;
  padding: 30px 0;
  row-gap: 10px;
}
.footer__text {
  font-size: max(2vw, 24px);
}
.footer__icon {
  fill: #00dfc4;
  height: 48px;
  width: 48px;
  padding: 5px;
  cursor: pointer;
}
.footer__icon:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: end 0.5s 3.5s forwards, hide 0s 4s forwards;
  background: #2d3246;
  z-index: 2;
}
.loader__text {
  font-size: max(6vw, 24px);
  color: #00dfc4;
  margin-bottom: 20px;
  font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
  animation: text-flicker-in-glow 3s linear both;
}
.loader__line {
  position: relative;
  width: 45vw;
  height: 1vh;
  background: rgba(0, 223, 197, 0.2196078431);
}
.loader__line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00dfc4;
  transform-origin: left;
  animation: animate 5s linear;
}
.loader__line::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0);
  width: 20px;
  height: 20px;
  background: #00dfc4;
  border-radius: 50%;
  animation: animateDot 5s linear;
}

.intro {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation-delay: 4s;
}
.intro__content {
  display: flex;
  flex-direction: column;
}
.intro__text {
  margin: 0;
  font-size: max(5vw, 28px);
  font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
}
.intro__text--underline {
  text-decoration: underline #00dfc4;
}

@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
  .intro__content {
    align-items: center;
  }
}
.intro__card {
  position: relative;
  background-color: #131b33;
  width: clamp(180px, 35vw, 300px);
  height: clamp(250px, 40vw, 400px);
  overflow: hidden;
}
.intro__card span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, transparent, #00dfc4);
  animation: animate_one 2s linear infinite;
}
.intro__card span:nth-child(2) {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, #00dfc4);
  animation: animate_two 2s linear infinite;
  animation-delay: 1s;
}
.intro__card span:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, transparent, #00dfc4);
  animation: animate_three 2s linear infinite;
}
.intro__card span:nth-child(4) {
  position: absolute;
  width: 3px;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, transparent, #00dfc4);
  animation: animate_four 2s linear infinite;
  animation-delay: 1s;
}

.home {
  margin-top: 200px;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.section__title {
  display: flex;
  column-gap: 15px;
  flex-direction: row;
  font-family: "robotocondensed-bolditalic", Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555, 7px 7px #555555, 8px 8px #555555;
  transform: translateX(-8px) translateY(-8px);
  color: #00dfc4;
  font-size: clamp(24px, 3vw, 42px);
  align-self: center;
  margin-bottom: 150px;
  transition: 0.6s;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion: no-preference) {
  .hidden {
    transition: all 1s;
  }
}

/*# sourceMappingURL=main.css.map */
