/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "robotocondensed-light", Arial, Helvetica, sans-serif;
  color: white;
  background-image: url(../../../public/endless-constellation.svg);
  /* background by SVGBackgrounds.com */
}

#root {
  width: 100%;
}

.content {
  margin: 0 60px;
}

@font-face {
  font-family: "robotocondensed-bold";
  src: url("../../../assets/fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-bolditalic";
  src: url("../../../assets/fonts/robotocondensed-bolditalic-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-bolditalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-italic";
  src: url("../../../assets/fonts/robotocondensed-italic-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-italic-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-light";
  src: url("../../../assets/fonts/robotocondensed-light-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-lightitalic";
  src: url("../../../assets/fonts/robotocondensed-lightitalic-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-lightitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-regular";
  src: url("../../../assets/fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-regular-webfont.woff") format("woff");
}
/* Keyframes du loader */
@keyframes animate {
  0%, 20% {
    transform: scaleX(0);
  }
  40% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
@keyframes animateDot {
  0% {
    transform: translateY(-50%) scale(0);
  }
  5% {
    transform: translateY(-50%) scale(1);
  }
  15%, 20% {
    transform: translateY(-50%) scale(1);
    box-shadow: 0 0 0 4px #00dfc4, 0 0 0 10px rgba(0, 223, 196, 0.1333333333), 0 0 20px #00dfc4, 0 0 40px 5px #00dfc4, 0 0 60px 10px #00dfc4;
  }
  40%, 100% {
    transform: translateY(-50%) scale(1) translateX(44.5vw);
  }
}
@keyframes end {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  100% {
    z-index: -1;
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes animate_one {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate_two {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animate_three {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate_four {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555, 7px 7px #555555, 8px 8px #555555;
    transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  z-index: 3;
  padding: 30px 0;
}
.header__text {
  font-family: "robotocondensed-bolditalic", Arial, Helvetica, sans-serif;
  font-size: max(2vw, 24px);
  color: #00dfc4;
  padding-left: 40px;
  text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555, 7px 7px #555555, 8px 8px #555555;
  transform: translateX(-8px) translateY(-8px);
  transition: 0.6s;
}

@media screen and (min-width: 930px) {
  .header.sticky {
    background-color: #2b2d3d;
    padding: 15px 0;
  }
}
@media screen and (max-width: 930px) {
  .header {
    background-color: #2b2d3d;
    padding: 10px 0;
  }
}
.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  column-gap: 20px;
  align-items: center;
  margin-right: 40px;
}
.navbar__link {
  font-family: "robotocondensed-regular", Arial, Helvetica, sans-serif;
  font-size: max(1vw, 24px);
  cursor: pointer;
  transition: 0.6s;
}
.navbar__link__border {
  font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
  padding: 5px;
}
.navbar__link a {
  text-decoration: none;
  color: inherit;
}

.hamburger-react {
  display: none;
}

@media screen and (max-width: 930px) {
  .nav-block {
    background-color: #00dfc4;
    height: 0;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 100vw;
    transition: 0.2s;
    overflow: hidden;
  }
  .nav-block.active {
    height: 195px;
  }
  .navbar {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .navbar__link {
    margin-bottom: 12px;
  }
  .nav-block.active ul {
    opacity: 1;
  }
  .hamburger-react {
    display: block;
    margin-right: 40px;
  }
}
@media screen and (min-width: 930px) {
  .navbar__link:hover {
    color: #00dfc4;
    font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
    animation: text-shadow-pop-br 0.6s both;
  }
  .navbar__link--active {
    color: #00dfc4;
    font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555, 7px 7px #555555, 8px 8px #555555;
    transform: translateX(-8px) translateY(-8px);
  }
  .navbar__link__border {
    color: #00dfc4;
    border: solid 2px #00dfc4;
    border-radius: 5px;
  }
  .navbar__link__border:hover {
    background: #00dfc4;
    color: white;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #2b2d3d;
  margin-top: 30px;
  width: 100%;
  padding: 30px 0;
  row-gap: 10px;
}
.footer__text {
  font-size: max(2vw, 24px);
}
.footer__icon {
  fill: #00dfc4;
  height: 48px;
  width: 48px;
  padding: 5px;
  cursor: pointer;
}
.footer__icon:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: end 0.5s 3.5s forwards, hide 0s 4s forwards;
  background: #2b2d3d;
  z-index: 2;
}
.loader__text {
  font-size: max(6vw, 24px);
  color: #00dfc4;
  margin-bottom: 20px;
  font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
  animation: text-flicker-in-glow 3s linear both;
}
.loader__line {
  position: relative;
  width: 45vw;
  height: 1vh;
  background: rgba(0, 223, 197, 0.2196078431);
}
.loader__line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00dfc4;
  transform-origin: left;
  animation: animate 5s linear;
}
.loader__line::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0);
  width: 20px;
  height: 20px;
  background: #00dfc4;
  border-radius: 50%;
  animation: animateDot 5s linear;
}

.intro {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation-delay: 4s;
}
.intro__content {
  display: flex;
  flex-direction: column;
}
.intro__text {
  margin: 0;
  font-size: max(5vw, 28px);
  font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
}
.intro__text--underline {
  text-decoration: underline #00dfc4;
}

@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
  .intro__content {
    align-items: center;
  }
}
.intro__card {
  position: relative;
  background-color: #131b33;
  width: clamp(180px, 35vw, 300px);
  height: clamp(250px, 40vw, 400px);
  overflow: hidden;
}
.intro__card span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, transparent, #00dfc4);
  animation: animate_one 2s linear infinite;
}
.intro__card span:nth-child(2) {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, #00dfc4);
  animation: animate_two 2s linear infinite;
  animation-delay: 1s;
}
.intro__card span:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, transparent, #00dfc4);
  animation: animate_three 2s linear infinite;
}
.intro__card span:nth-child(4) {
  position: absolute;
  width: 3px;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, transparent, #00dfc4);
  animation: animate_four 2s linear infinite;
  animation-delay: 1s;
}

.home {
  margin-top: 150px;
}

.lorem {
  font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
  font-size: 42px;
  margin-top: 100px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion: no-preference) {
  .hidden {
    transition: all 1s;
  }
}

/*# sourceMappingURL=main.css.map */
