body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "robotocondensed-light", Arial, Helvetica, sans-serif;
  color: white;
  background-image: url(../../../public/endless-constellation.svg);
  /* background by SVGBackgrounds.com */
}

#root {
  width: 100%;
}

@font-face {
  font-family: "robotocondensed-bold";
  src: url("../../../assets/fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-bolditalic";
  src: url("../../../assets/fonts/robotocondensed-bolditalic-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-bolditalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-italic";
  src: url("../../../assets/fonts/robotocondensed-italic-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-italic-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-light";
  src: url("../../../assets/fonts/robotocondensed-light-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-lightitalic";
  src: url("../../../assets/fonts/robotocondensed-lightitalic-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-lightitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotocondensed-regular";
  src: url("../../../assets/fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("../../../assets/fonts/robotocondensed-regular-webfont.woff") format("woff");
}
/* Keyframes du loader */
@keyframes animate {
  0%, 20% {
    transform: scaleX(0);
  }
  40% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
@keyframes animateDot {
  0% {
    transform: translateY(-50%) scale(0);
  }
  5% {
    transform: translateY(-50%) scale(1);
  }
  15%, 20% {
    transform: translateY(-50%) scale(1);
    box-shadow: 0 0 0 4px #00dfc4, 0 0 0 10px rgba(0, 223, 196, 0.1333333333), 0 0 20px #00dfc4, 0 0 40px 5px #00dfc4, 0 0 60px 10px #00dfc4;
  }
  40%, 100% {
    transform: translateY(-50%) scale(1) translateX(44vw);
  }
}
@keyframes end {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  100% {
    z-index: -1;
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes animate_one {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate_two {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animate_three {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate_four {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.footer {
  color: rgb(62, 132, 150);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  animation: end 0.5s 3.5s forwards, hide 0s 4s forwards;
  background: #2b2d3d;
  z-index: 2;
}
.loader__text {
  font-size: 6vw;
  color: #00dfc4;
  font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
  animation: text-flicker-in-glow 3s linear both;
}
.loader__line {
  position: relative;
  width: 45vw;
  height: 1.5vh;
  background: rgba(0, 223, 197, 0.2196078431);
}
.loader__line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00dfc4;
  transform-origin: left;
  animation: animate 5s linear;
}
.loader__line::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0);
  width: 20px;
  height: 20px;
  background: #00dfc4;
  border-radius: 50%;
  animation: animateDot 5s linear;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.intro__content {
  display: flex;
  flex-direction: column;
}
.intro__text {
  margin: 0;
  font-size: 4vw;
  font-family: "robotocondensed-bold", Arial, Helvetica, sans-serif;
}
.intro__text--underline {
  text-decoration: underline #00dfc4;
}

.intro__card {
  position: relative;
  background-color: #131b33;
  width: clamp(100px, 40vw, 300px);
  height: clamp(150px, 40vw, 400px);
  overflow: hidden;
}
.intro__card span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, transparent, #00dfc4);
  animation: animate_one 2s linear infinite;
}
.intro__card span:nth-child(2) {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, #00dfc4);
  animation: animate_two 2s linear infinite;
  animation-delay: 1s;
}
.intro__card span:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, transparent, #00dfc4);
  animation: animate_three 2s linear infinite;
}
.intro__card span:nth-child(4) {
  position: absolute;
  width: 3px;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, transparent, #00dfc4);
  animation: animate_four 2s linear infinite;
  animation-delay: 1s;
}

/*# sourceMappingURL=main.css.map */
